<div class="container container d-flex flex-row justify-content-between">
  <div class="container col-3 m-lg-0">
    <ul class="list-group">
      <li class="list-group-item" routerLink="/product-panel">
        Products
      </li>
      <li class="list-group-item" routerLink="/maincategory-panel">
        MainCategories
      </li>
      <li class="list-group-item" routerLink="/category-panel">
        Categories
      </li>
      <li class="list-group-item" routerLink="/user-panel">
        Users
      </li>
      <li class="list-group-item" routerLink="/order-panel">
        Orders
      </li>
      <li class="list-group-item active" routerLink="/product-panel/products/add">
        Add Product
      </li>
    </ul>
  </div>
  <div class="container col-9">
    <table class="table table-light table-hover text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Quantity</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Discount Rate</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <th scope="row">{{items.indexOf(item) +1}}</th>
          <td>{{item.name}}</td>
          <td>{{item.unitsInStock}}</td>
          <td>{{item.unitPrice}}</td>
          <td>{{item.discount}}</td>
          <td><button type="button" class="btn btn-outline-primary"
              routerLink="/product-panel/products/update/{{item.id}}">Edit</button></td>
          <td><button type="button" class="btn btn-outline-danger" (click)="delete(item)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
