<div class="category row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="d-flex flex-row justify-content-center text-center col-3">
    <div class="card">
      <svg routerLink="/product-panel" class="bd-placeholder-img card-img-top" width="100%" height="120" role="img"
        focusable="false">
        <rect width="100%" height="100%" fill="#1a1a1a" />
        <text x="40%" y="50%" fill="#eceeef" dy=".3em" class="text-center">
          Products
        </text>
      </svg>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center text-center col-3">
    <div class="card">
      <svg routerLink="/maincategory-panel" class="bd-placeholder-img card-img-top" width="100%" height="120" role="img"
        focusable="false">
        <rect width="100%" height="100%" fill="#1a1a1a" />
        <text x="30%" y="50%" fill="#eceeef" dy=".3em" class="text-center">
          Main Categories
        </text>
      </svg>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center text-center col-3">
    <div class="card">
      <svg routerLink="/category-panel" class="bd-placeholder-img card-img-top" width="100%" height="120" role="img"
        focusable="false">
        <rect width="100%" height="100%" fill="#1a1a1a" />
        <text x="40%" y="50%" fill="#eceeef" dy=".3em" class="text-center">
          Categories
        </text>
      </svg>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center text-center col-3">
    <div class="card">
      <svg routerLink="/user-panel" class="bd-placeholder-img card-img-top" width="100%" height="120" role="img"
        focusable="false">
        <rect width="100%" height="100%" fill="#1a1a1a" />
        <text x="40%" y="50%" fill="#eceeef" dy=".3em" class="text-center">
          Users
        </text>
      </svg>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center text-center col-3">
    <div class="card">
      <svg routerLink="/order-panel" class="bd-placeholder-img card-img-top" width="100%" height="120" role="img"
        focusable="false">
        <rect width="100%" height="100%" fill="#1a1a1a" />
        <text x="40%" y="50%" fill="#eceeef" dy=".3em" class="text-center">
          Orders
        </text>
      </svg>
    </div>
  </div>
</div>
