#body {
  flex-basis: 100%;
}

.category {
  cursor: pointer;
}

.centered {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
  font: 3rem bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
